##**Importing Libraries**

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from pandas_profiling import ProfileReport
from plotly.offline import iplot
!pip install joypy
import joypy
import os
import glob
from sklearn.cluster import KMeans

plt.rcParams['figure.figsize'] = 8, 5
plt.style.use("fivethirtyeight")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##**Importing Dataset**

#**Module 2: Data Preprocessing**

Download Dataset pada: https://bit.ly/DatasetExerciseDSSC4

Run code di bawah untuk upload file, lalu choose file penguins_lter.csv dan penguins_size.csv

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
data = pd.read_csv(io.BytesIO(uploaded['penguins_size.csv'])) 
study_data = pd.read_csv(io.BytesIO(uploaded['penguins_lter.csv']))

Memanggil tabel data

In [ ]:
data.head()

##**Describing Dataset**

Tampilkan statistik deskriptif dari data!

In [ ]:
data.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

***
**Insight**
***
Berapa rata - rata body mass penguin?

In [ ]:
print('Rata - rata body mass penguin = ', data.body_mass_g.mean().round(2))

Rata - rata body mass penguin =  4201.75

##**Handling Missing Values**

Cek jumlah missing value!

In [ ]:
#input your code here
data.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

Mengisi missing value pada sex dengan modus!

In [ ]:
#input your code here
data.sex.fillna(data.sex.mode()[0], inplace=True)

Pada baris ke 336 kolom sex, terdapat data berisi titik (.), drop baris data tersebut!

In [ ]:
#input your code here
#data.sex.iloc[335:340]
data = data.drop(336, axis=0)

Cek kembali apakah masih ada missing value!

In [ ]:
#input your code here
data.isnull().sum()

species              0
island               0
culmen_length_mm     2
culmen_depth_mm      2
flipper_length_mm    2
body_mass_g          2
sex                  0
dtype: int64

In [ ]:
data[['culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm']].dropna(inplace=True)

<ipython-input-85-2be03326b7d5>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

***
**Insight**
***
Apakah masih terdapat missing value? Missing value sudah tidak ada lagi

##**Exploratory Data Analysis**

Tampilkan grafik yang menunjukkan jumlah tiap spesies pinguin!

In [ ]:
#input your code here

***
**Insight**
***
Spesies apa dengan jumlah pinguin paling banyak? Adelie Penguin (Pygoscelis adeliae) dengan jumlah 152

Tampilkan scatterplot yang menunjukkan korelasi antara culmen_length dan flipper_length!

In [ ]:
#input your code here

***
**Insight**
***
Bagaimana korelasi antara culmen_length dan flipper_length?

In [ ]:
#berikut penjelasan dari korelasinya

Tampilkan scatterplot yang menunjukkan korelasi antara flipper_length dan body_mass!

In [ ]:
#input your code here

***
**Insight**
***
Bagaimana korelasi antara flipper_length dan body_mass?

In [ ]:
#berikut penjelasan dari korelasinya

Tampilkan pairplot dari semua variabel!

In [ ]:
#input your code here

***
**Insight**
***
Apa kesimpulan yang dapat kamu ambil dari pairplot di atas?